<mat-tab-group class="warpper">
  <mat-tab label="Provideri">
    <app-lab-first-providers></app-lab-first-providers>
  </mat-tab>
  <mat-tab label="Produse">
    <app-lab-first-items></app-lab-first-items>
  </mat-tab>
  <mat-tab label="Clienti">
    <app-lab-first-clients></app-lab-first-clients>
  </mat-tab>
  <mat-tab label="Intrari">
    <app-lab-first-incomes></app-lab-first-incomes>
  </mat-tab>
  <mat-tab label="Iesiri">
    <app-lab-first-outgoings></app-lab-first-outgoings>
  </mat-tab>
  <mat-tab label="Rapoarte">
    <app-lab-first-rapports></app-lab-first-rapports>
  </mat-tab>
</mat-tab-group>
